$background-color: #14100e;
$primary-color: white;

body{
  #myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
  }
}

* {
  margin: 0;
  padding: 0;
}

@mixin contenedor-flex($direccion:row, $justify:center, $align:center){
  display: flex;
  flex-direction: $direccion ;
  flex-wrap: wrap;
  justify-content: $justify;
  text-align: $align;
}

@mixin contenedor-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-bottom: 0;
}